html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Playwrite GB S', cursive, sans-serif;
	font-size: 5px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	filter: blur(10px);
	z-index: -1;
}

.container {
	background-color: #e7e7e7;
	height: 550px;
	width: 400px;
	border-radius: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	transition: all 0.5s ease;
}

.container:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.album-cover {
	width: 300px;
	height: 300px;
	padding-top: 10px;
	margin: 0 auto;
}

.album-cover img {
	object-fit: cover;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	opacity: 1;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

.album-cover img:hover {
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
}

.track-info {
	text-align: center;
	margin-bottom: 20px;
}

.track-info h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

.track-info p {
	font-size: 1.2rem;
	color: #555;
}

.controls {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 20px;
}

.controls button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.2s;
}

.controls button:hover {
	transform: scale(1.1);
}

.progress {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 25px;
}

.progress-time {
	font-size: 0.9rem;
}

.progress-bar {
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	height: 10px;
	width: 60%;
}
