.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
	/* background-color: cornflowerblue; */
	padding: 20px;
	font-family: 'Playwrite GB S', cursive;
}

.player__album-cover {
	margin-bottom: 20px;
}

.album-cover__image {
	width: 100%;
	max-width: 300px;
	border-radius: 10px;
}

.player__track-info {
	text-align: center;
	margin-bottom: 20px;
}

.track-info__title {
	font-size: 1.5rem;
	font-weight: 300;
}

.track-info__artist {
	font-size: 1.2rem;
	color: #555;
}

.player__progress {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 500px;
}

.progress__time {
	font-size: 0.9rem;
}

.progress__bar {
	flex-grow: 1;
}

.player__controls {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 20px;
}

.controls__button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.2s;
}

.controls__button:hover {
	transform: scale(1.1);
}

@media (max-width: 1000px) {
	.container {
		max-width: 100%;
	}
}

@media (max-width: 600px) {
	.album-cover__image {
		max-width: 200px;
	}

	.track-info__title {
		font-size: 1.2rem;
	}
	.track-info__artist {
		font-size: 1rem;
	}

	.player__progress {
		max-width: 100%;
	}
	.controls__button {
		gap: 0.5rem;
	}
}
